label for="name" Name:
input#Name type="text" name="card[kname]" value="#{@card[:kname]}"
label for="content" Content:
input#Content type="text" name="card[kcontents]" value="#{@card[:kcontents]}"
label for="board" Board:
input#Board type="number" name="card[bid]" value="#{@card[:bid]}"
p
  input type="submit" value="Save Card"