section
  #myform
    form method="POST" action="/finalize_add"
        <label for="kname">Name</label>
        input#Name type="text" name="kname" value="Ax1"
        <label for="kcontents">Contents</label>
        input#Content type="text" name="kcontents" value="Ax2"
        <label for="bid">Board ID</label>
        input#Board type="number" name="bid" value="8"
        p
           input type="submit" value="Save Card"